/*Apexcys style.css 29.08.2024*/

@import url("https://fonts.googleapis.com/css2?family=Open Sans:wght@400;700&family=Merriweather+Sans:wght@400;700&display=swap");

html {
	font-size:15px;
}
body {
	margin:0;
	font-family: 'Open Sans', arial, sans-serif;
	max-width: 1500px;
}
* {
	box-sizing:border-box;
}

.animate-h2 {
	opacity:0;
	margin-left:100px;
	transition:all 1s;
}
.h2-inview {
	opacity:1;
	margin-left:0;
}
.animate-p-card {
	transform:scale(0.8);
	transition:all 1s;
}
.p-card-inview {
	transform:scale(1);
}
.animate-t-card {
	opacity:0;
	margin-top:100px;
	transition:all 1s;
}
.t-card-inview {
	opacity:1;
	margin-top:0;
}

/*..........logo style*/
nav {
	padding:10px;
		position:absolute;
}

nav img {
	width:50%;
	max-width:400px;
	margin:auto;
	display:block;
	background-color:rgba(0,0,0,0.8);
	padding:3px 10px;
	border-radius:5px;
}

/*.......slide down animation*/
.slide-down {
	position:fixed;
	top:45vh;left:0;
	width:100%;
	z-index:5;
}
.slideRight {
	transform:rotatez(90deg);
	float:right;
	margin:-20px;
}
.slideLeft {
	transform:rotatez(90deg);
	float:left;
	margin:-20px;
}
p.right, p.left {
	z-index:7;
	text-shadow:1px 1px 3px #fff, -1px -1px 3px #fff;
	animation: dance 1s linear infinite;
	-webkit-animation: dance 1s linear infinite;
}

.toTop {
	position:fixed;
	bottom:20px;
	right:10px;
	z-index:3;
	background-color:#006;
	height:50px;
	width:50px;
	border-radius:50%;
	text-align:center;
	line-height:50px;
}
.toTop a {
	color:#fff;
	text-decoration:none;
	font-size:1.2rem;
}

/*..............header style*/
header {
	background-color:#333;
}
.header-outer {
	width:100%;
	background-image: url("../images/banner.jpg");
	background-size:cover;
	background-position:center;
	padding:70px 30px;
}
.header-inner {
	background-color:rgba(10,10,20,0.8);
	border-radius:10px;
	padding:40px 25px;
	color:#fff;
}
.header-inner p small {
	color:#9cf;
}
.button small {
	font-size: 0.8rem;
}
.button {
	padding:10px;
	border:none;
	background-color:#25e;
	outline:none;
	font-size:1.2rem;
	color:#fff;
	width:100%;
	max-width: 400px;
	border-radius:7px;
	margin:20px auto;
	display:block;
	letter-spacing:1px;
	transition: all 1s;
	text-decoration:none;
	text-align: center;
	line-height: 0.8rem;
	animation: shake 1s linear infinite;
	-webkit-animation: shake 1s linear infinite;
}
.button:hover {
	background-color:#633;
}
section.padded {
	padding:30px 30px 40px;
}
h2.sub-head {
	color:#c96;
	font-weight:700;
	letter-spacing:0.5px;
}

/*.........call to action*/
#about {
	background-color:#f4f0fe;
}
#about img {
	width:100%;
	margin: auto;
	border-radius:7px;
}

/*..........brand section*/
.slider {
  background:transparent;
  height: 100px;
  margin: auto;
  overflow:hidden ;
  position: relative;
  margin:50px auto 0;
  width: 100%;
  max-width:600px;
}
.slider .slide-track {
  -webkit-animation: scroll  20s linear infinite;
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(130px * 6);
}
.slider .slide {
  height: 100px;
  width: 100px;
  margin:0 15px;
  padding:30px 0;
  background-color:#ccd;
  vertical-align:middle;
  line-height:50px;
  border-radius:10px;
}
.slider img {
	width:100%;
	height:auto;
	vertical-align:middle;
	margin:auto;
	display:block;
}

/*.........services section*/
#service {
	background-color:#333;
}
.services>div {
	background-color:rgba(0,0,0,0.2);
	color:#000;
	padding:20px;
	margin:25px 0;
	border-radius:5px;
	transition: all .5s ease;
	position:relative;
	width:100%;
	vertical-align: top;
}
.services h3 {
	margin:0 0 5px 0;
	font-size:1.3rem;
	font-weight: 300;
	color:#fff;
}
.services p {
	line-height:1.3;
	color:#ccc;
	margin-top:5px;
}
.icon-top {
	position:absolute;
	left:30px;
	top:30px;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	background-color:#63c;
	z-index:2;
	border-radius:5px;
	transition: all .5s ease;
}
.icon-top i {
	color:#ffffff;
	font-size:25px;
	line-height:50px;
}
.services>div div:last-of-type {
	margin:0 0 0 70px;
	padding:0;
}

/*..........processes section*/
#process>div{
	text-align:center;
	vertical-align: top;
}
#process img {
	width:50px;
	height:auto;
}

#marquee {
	background-color:#ea1;
	padding:20px 10vw;
}

/*........portfolio section*/
#portfolio {
	background-color:#336;
}
#portfolio img {
	width:100%;
	margin:10px auto;
	border-radius:5px;
	border: #c96 5px solid;
}

#project {
	background-color:#336;
}
.project {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content:center;
}
.project-div img {
	width:100%;
}
.project-div {
	width:100%;
	min-width: 300px;
	width: 70%;
	max-width: 550px;
	display:block;
	text-align:left;
	font-size:1rem;
	position:relative;
	background-color:#9cf;
	margin:0;
}
.project-text {
	position:absolute;
	bottom:0; left:0;
	background-color:rgba(41,41,41,0.7);
	width:100%;
	height:0px;
	overflow:hidden;
	color:#fff;
	transition: all 1s;
	font-weight:700;
}
.project-div h3 {
	position:absolute;
	top:0; left:0;
	z-index:3;
	padding:5px 12px;
	font-size:1rem;
	background-color:#9cf;
	color:#012;
	border-radius:0 0 25px 0;
	margin:0;
	letter-spacing:1px;
	opacity: 0.85;
	font-weight: 500;
	box-shadow:inset 0.5px 0.5px 20px #036, inset -0.5px -0.5px 20px #036;
}
.project-text h4 {
	margin:0;
	font-weight:300;
	position:absolute;
	bottom:40%; left:20px;
	font-size:1.2rem;
	font-family:monospace;
	letter-spacing:-1px;
}
.project-text a {
	padding:5px 10px;
	font-size:1rem;
	text-decoration: none;
	border-radius:5px;
	border:2px solid #9cf;
	background-color:rgba(0,0,0,0.5);
	color:#9cf;
	position:absolute;
	bottom:10px; right:10px;
	font-weight:400;
}
.project-text a:hover {
	background-color: #369;
	color: #9cf;
}
.project-div:hover .project-text {
	padding:30px 20px;
	height:100%;
	padding:10px 20px;
}
/*........testimonial section*/
#testimonial {
	background-color:#fff;
}
#testimonial>div {
	max-width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}
#testimonial>div>div {
	flex: 1 1 100%; /* Fallback for mobile */
	background-color: #213;
	color:#fff;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 20px;
	border-radius:10px;
}
#testimonial>div img{
	width:auto;
	width:100px;
	padding:0px;
	border-radius:5px;
	background-color:rgba(250,250,250,0.3);
}

/*............faq section*/
#faq {
	background-color:#203;
	color:#fff;
}
#faq ul{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width:700px;
}
#faq ul li{
    position: relative;
    padding-bottom: 4px;
    padding-top: 0px;
    border-top: 1px solid #dce7eb;   
}
#faq ul li h4 {
	margin:0 20px 0 0;
	padding:10px;
}
#faq ul li input[type="checkbox"]{
    position: absolute;
    cursor: pointer;
    width: 10%;
    height: 10%;
    z-index: 1;
    opacity: 0;
}
#faq ul li i{
    position: absolute;
    transform: translate(-6px,0);
    margin-top: 16px;
    right: 0;
} 
#faq ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translateX(-50%);
}

#faq ul li input[type="checkbox"]:checked~i::before{
    transform: translate(2px,0) rotate(45deg);
}
#faq ul li input[type="checkbox"]:checked~i::after{
    transform: translate(-2px,0) rotate(-45deg);
}
#faq ul li i::before,#faq ul li i::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 3px;
    height: 9px;
}
#faq ul li i::before{
    transform: translate(-2px,0)rotate(45deg);
}
#faq ul li i:after {
	transform: translate(2px, 0) rotate(-45deg);
}
#faq ul li p{
  color: #ccc;
  line-height: 1.5;
  letter-spacing: 0.5px;
  position: relative;
  padding: 0 11px;
  margin-top: 14px;
  opacity: 1;
  transform: translate(0,0);
  overflow: hidden;     
}
.transition, p, #faq ul li i:before, #faq ul li i:after {
  transition: all 0.25s ease-in-out;
  
}
.flipIn, h1, #faq ul li {
  animation: flipdown 0.5s ease both;
  -webkit-animation: flipdown 0.5s ease both;
}
#faq ul li:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
}
#faq ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
}
#faq ul li:nth-of-type(3) {
  -webkit-animation-delay: 1s;
}
#faq ul li:last-of-type {
  padding-bottom: 0;
}

/*.........call to action*/
#cta {
	background-color:#f4f0fe;
}
#cta div {
	text-align:center;
}
#cta img {
	width:85%;
	margin: auto;
	border-radius:7px;
}
a.button.btn-dark {
	background-color:#006;
	color:#9cf
}
a.button.btn-dark:hover {
	background-color:#ddf;
	color:#006;
}
p.block {
	line-height:1.5;
	letter-spacing:.5px;
}
p.block2 {
	line-height:1.5;
	letter-spacing:.5px;
	color:#fff;
}

/*........,.footer*/
footer {
	padding:20px 20px 15px;
	text-align:center;
	background-color:#f4f0fe;
	color:#006;
	font-size:1rem;
	font-weight:900;
}
.icons {
	vertical-align:middle;
}
.icons a {
	text-decoration:none;
	color:#006;
	font-size:1rem;
}
.icons a i {
	border-radius:50px;
	vertical-align:middle;
	color:#006;
	font-size:1.3rem;
	padding:10px;
}
.icons a:hover i {
	color:#69c;
	text-decoration:underline;
}
.icons a small {
	overflow:hidden;
	display:inline-block;
	transition: all 1s;
	font-size:0rem;
}
.icons a smal small {
	font-size:0.5rem;
}
.icons a:hover small {
	font-size:0.8rem;
}


/*..........media query for tablet*/
@media (min-width: 600px) {

	html {
		font-size:16px;
	}
	.header-inner {
		padding:40px 50px;
	}
	section.padded {
		padding:50px 70px;
	}
	.services>div div:last-of-type {
		margin:0 0 0 85px;
	}
	#testimonial>div .block {
		flex-basis: calc(50% - 20px);
		margin-right: 20px;
	}
	#testimonial>div .block:nth-child(even) {
		margin-right: 0;
	}
	#cta, #about {
		vertical-align:middle;
		padding:50px 70px 20px;
	}
	#cta div, #about div{
		vertical-align:middle;
	}
	#about div:first-of-type {
		width:60%;
		display:inline-block;
		vertical-align:middle;
	}
	#about div:last-of-type {
		width:38%;
		display:inline-block;
		vertical-align:middle;
	}
	.project-div {
		max-width: 450px;
	}
	#cta div:first-of-type {
		width:40%;
		display:inline-block;
		vertical-align:middle;
	}
	#cta div:last-of-type {
		width:58%;
		display:inline-block;
		vertical-align:middle;
	}
}

@media (min-width: 900px) {
	
	html {
		font-size:17px;
	}
	.header-outer {
		width:67%;
		padding:80px 50px;
		margin-left:33%;
	}
	.header-inner {
		padding:40px 45px;
		margin-left:-40%;
		margin-right:67%;
		max-width: 500px;
	}
	section.padded {
		padding:100px 100px;
	}
	#process>div>div {
		width:32%;
		display:inline-block;
	}
	#portfolio img {
		width:49%;
		margin:10px auto;
		border-radius:5px;
	}
}

@media (min-width: 1200px) {
	
	html {
		font-size:18px;
	}
	
	body {
		margin: 0 auto;
	}
	.services>div {
		width:32%;
		display:inline-block;
	}
	.project-div {
		max-width: 550px;
	}
}

@media (min-width: 1500px) {
	margin:auto;
}

@keyframes dance {
	0% {
		transform: translate(20px,0px);
	}
	50% {
		transform:translate(0px,0px);
	}
	100% {
		transform: translate(20px,0px);
	}
}

@-webkit-keyframes dance {
	0% {
		-webkit-transform: translate(20px,0px);
	}
	50% {
		-webkit-transform: translate(0px,0px);
	}
	100% {
		-webkit-transform: translate(20px,0px);
	}
}


@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-130px * 4));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-135px * 4));
  }
}


@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

@-webkit-keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    -webkit-transform: rotateX(8deg);
  }
  83% {
    -webkit-transform: rotateX(6deg);
  }
  92% {
    -webkit-transform: rotateX(-3deg);
  }
  100% {
    -webkit-transform-origin: top center;
    -webkit-transform: rotateX(0deg);
  }
}


@keyframes shake {
	0% {
		transform: rotateZ(0deg);
	}
	25% {
		transform: rotateZ(5deg);
	}
	50% {
		transform: rotateZ(0deg);
	}
	75% {
		transform: rotateZ(-5deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}

@-webkit-keyframes shake {
	0% {
		-webkit-transform: rotateZ(0deg);
	}
	25% {
		-webkit-transform: rotateZ(5deg);
	}
	50% {
		-webkit-transform: rotateZ(0deg);
	}
	75% {
		-webkit-transform: rotateZ(-5deg);
	}
	100% {
		-webkit-transform: rotateZ(0deg);
	}
	}
